/* ===== Header ===== */

header {
    height: 70px;
    background: #222;
    color: white;

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 0 20px;
}

.logo {
    font-size: 28px;
}

/* ===== ボタン ===== */

.menu-btn {
    background: none;
    border: none;
    color: white;
    font-size: 35px;
    cursor: pointer;
    z-index: 1001;
}

/* ===== ナビ ===== */

.nav {
    display: none;
    position: fixed;

    top: -100%;
    left: 0;

    width: 100%;
    height: auto;

    background: #333;

    transition: top 0.3s ease;

    padding-top: 90px;

    z-index: 1000;
}

.nav.open {
    top: 70px;
}

.nav ul {
    list-style: none;
}

.nav li {
    margin: 25px;
}

.nav a {
    color: white;
    text-decoration: none;
    font-size: 22px;
}

/* ===== 背景 ===== */

.overlay {
    position: fixed;
    inset: 0;

    background: rgba(0, 0, 0, .5);

    opacity: 0;
    visibility: hidden;

    transition: .3s;

    z-index: 999;
}

.overlay.show {
    opacity: 1;
    visibility: visible;
}

/* ===== PC表示 ===== */

@media(max-width:768px) {

    .humburger{
        display: block;
    }
    
    .menu-btn {
        display: none;
    }

    .nav {
        position: static;
        width: auto;
        height: auto;
        background: none;
        padding: 0;
        right: 0;
    }

    .nav ul {
        display: flex;
        gap: 30px;
    }

    .nav li {
        margin: 0;
    }

    .overlay {
        display: none;
    }

}